h1 {
    text-align: center;
    font-family: 'Homemade Apple', cursive;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Rancho', cursive;

}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
    font-family: 'Rancho', cursive;

}

#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
    font-family: 'Rancho', cursive;

}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Rancho', cursive;

}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
    font-family: 'Rancho', cursive;
}

input {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Rancho', cursive;

}

button {
    font-size: 18px;
    padding: 10px 20px;
    font-family: 'Rancho', cursive;

}